{
	"$schema" : "https://aka.ms/winget-packages.schema.2.0.json",
	"CreationDate" : "2023-08-24T21:48:31.190-00:00",
	"Sources" :
	[
		{
			"Packages" :
			[
				{
					"PackageIdentifier" : "Bitwarden.Bitwarden"
				},
				{
					"PackageIdentifier" : "Canonical.Ubuntu.2004"
				},
				{
					"PackageIdentifier" : "dbeaver.dbeaver"
				},
				{
					"PackageIdentifier" : "Discord.Discord"
				},
				{
					"PackageIdentifier" : "Docker.DockerDesktop"
				},
				{
					"PackageIdentifier" : "voidtools.Everything"
				},
				{
					"PackageIdentifier" : "Flow-Launcher.Flow-Launcher"
				},
				{
					"PackageIdentifier" : "flux.flux"
				},
				{
					"PackageIdentifier" : "GitHub.GitHubDesktop"
				},
				{
					"PackageIdentifier" : "Google.Chrome"
				},
				{
					"PackageIdentifier" : "Microsoft.WindowsTerminal"
				},
				{
					"PackageIdentifier" : "MongoDB.Compass.Full"
				},
				{
					"PackageIdentifier" : "Mozilla.Firefox"
				},
				{
					"PackageIdentifier" : "Microsoft.Office"
				},
				{
					"PackageIdentifier" : "OBSProject.OBSStudio"
				},
				{
					"PackageIdentifier" : "JanDeDobbeleer.OhMyPosh"
				},
				{
					"PackageIdentifier" : "Microsoft.OneDrive"
				},
				{
					"PackageIdentifier" : "PostgreSQL.PostgreSQL"
				},
				{
					"PackageIdentifier" : "Postman.Postman"
				},
				{
					"PackageIdentifier" : "Postman.Postman.DesktopAgent"
				},
				{
					"PackageIdentifier" : "Rustlang.Rustup"
				},
				{
					"PackageIdentifier" : "Sandboxie.Plus"
				},
				{
					"PackageIdentifier" : "Spotify.Spotify"
				},
				{
					"PackageIdentifier" : "Valve.Steam"
				},
				{
					"PackageIdentifier" : "Stremio.Stremio"
				},
				{
					"PackageIdentifier" : "VideoLAN.VLC"
				},
				{
					"PackageIdentifier" : "WinDirStat.WinDirStat"
				},
				{
					"PackageIdentifier" : "RARLab.WinRAR"
				},
				{
					"PackageIdentifier" : "Zoom.Zoom"
				},
				{
					"PackageIdentifier" : "Obsidian.Obsidian"
				},
				{
					"PackageIdentifier" : "qBittorrent.qBittorrent"
				},
				{
					"PackageIdentifier" : "Google.GoogleDrive"
				},
				{
					"PackageIdentifier" : "Microsoft.VisualStudioCode"
				},
				{
					"PackageIdentifier" : "Oracle.VirtualBox"
				},
				{
					"PackageIdentifier" : "MongoDB.Server"
				},
				{
					"PackageIdentifier" : "EpicGames.EpicGamesLauncher"
				},
			],
			"SourceDetails" :
			{
				"Argument" : "https://cdn.winget.microsoft.com/cache",
				"Identifier" : "Microsoft.Winget.Source_8wekyb3d8bbwe",
				"Name" : "winget",
				"Type" : "Microsoft.PreIndexed.Package"
			}
		}
	],
	"WinGetVersion" : "1.5.2201"
}
